
#banner {
    height: 50vh;
    @media (orientation: landscape) {
        height: 110vh;
        @include lg {
            height: 80vh;
        }
    }
    
    @media (orientation: portrait) {
        @include lg{
            height: 30vh;
        }
    }
        
    
    //background-image: url("../assets/images/banner-bg.png");
    background-image: linear-gradient(180deg, rgba(255, 4, 4, 0.605) 0%, rgba(240, 4, 4, 0.784) 100%), url("../assets/images/banner-bg.png");
    background-size: cover;
    // -webkit-border-radius: 0 0 100% 100%;
    // -moz-border-radius: 0 0 100% 100%;
    border-radius: 0 0 100% 100%;
    top: 0px;
    left: 0px;
    background-position: center center;  
    z-index: -1;
    #banner-logo-div {
        z-index: 1;
        @media (orientation: portrait) {
            padding-top: 20%!important;
        }
        @media (orientation: landscape) {
            padding-left: 20%!important;
            padding-right: 20%!important;
        }
        
        @include md {
            padding-top: 10%!important;
        }
        @include lg {
            padding-top: 5%!important;
        }
    }
    
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.slick {
    position: absolute!important;
    
      
    @media (orientation: landscape) {
        top: 50%;
        @include md {
            top: 20%;
        }
        @include lg {
            top: 30%;
        }
        @include xl {
            top: 23%;
        }
    }
    @media (orientation: portrait) {
        top: 20%;
        @include md {
            top: 20%;
        }
        @include lg {
            top: 15%;
        }
        
    }
    
    .slick-items {
        width: 70%;
        height: 70%;
        @include md{
            width: 70%;
            height: 70%;
        }
        @include lg{
            width: 50%;
            height: 50%;
        }
    }
    width: 70%;
    margin-left: 15%;
}




