.btn-outline-primary:hover {
    background-color: #523f000c!important;
    border-color: $text-yellow !important;
    span 
    {
        color: $text-yellow !important;
    }
    
}
.btn-outline-primary, .btn {
    border-color: $text-purple !important;
    border-radius: 15px;
    
}
.button-text-daugiau {
    font-size: 1.2rem;
    font-weight: 600 !important;
    @include rwd(550) {
        font-size: 1.5rem;
    }
}