html,body
{
    width: 100%!important;
    margin: 0px!important;
    padding: 0px!important;
    overflow-x: hidden!important; 
    background-color: rgb(241, 241, 241);
    h1
    {
    color: $text-purple;
    font-weight: 700;
    }
    p
    {
        color: $text-grey;
    }
    span
    {
        color: $text-purple;
    }
    h2
    {
        color: $text-purple;
        font-weight: 550;
    }
    a:hover {
        color: $text-yellow !important;
        text-decoration: none;
    }
    
}

#content-container {
    padding-left: 10%;
    padding-right: 10%;
}

.larger-text 
{
    font-size: 1.4em;
}


