html,
body {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden !important;
    background-color: $background-color;

    h1 {
        color: $text-purple;
        font-weight: 700;
    }

    p {
        color: $text-grey;
        font-size: 16px;
        font-weight: 510;
    }

    span {
        color: $text-purple;
    }

    h2 {
        color: $text-purple;
        font-weight: 550;
    }

    a:hover {
        color: $text-yellow !important;
        text-decoration: none;
    }

}

#content-container {
    padding-left: 10%;
    padding-right: 10%;
}

.larger-text {
    font-size: 1.4em;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

#apie:target,
#kontaktai:target,
#straipsniai {
    padding-top: 92px !important;
    margin-top: -92px !important;
}

#card,
#kontaktai,
#straipsniai {
    pointer-events: none !important;

    >* {
        pointer-events: all;
    }
}

.card:hover {
    cursor: pointer;
    span {
        color: $text-yellow !important;
    }
}

.card {
    width: 18rem;
    @include xl {
        width: 25rem;
    }
}