.svg-icon-circle 
{ 
    height: 40px; 
    position: relative;
    bottom: 10px;
    left: 15px;
    fill: $text-purple;
}
.svg-icons {
    position: relative;
    height: 20px;
    width: 20px;
    fill: white;
    right: 15px;
}

#youtube-svg {
    width: 100px;
    height: 70px;
}