$banner-red: #b70f0f;
$text-grey: #757575;
$text-purple: #642240;
$text-yellow: #fdb813;
$navbar-color: #642240;
$navbar-color-secondary: #7e445ede;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
